absl-py==2.3.1
astunparse==1.6.3
fastapi==0.115.6
black==25.11.0
certifi==2026.7.22
cfgv==3.4.0
charset-normalizer==3.5.1
click==8.1.8
contourpy==1.3.0
cycler==0.12.1
distlib==0.4.3
filelock==3.19.1
flatbuffers==25.12.19
fonttools==4.60.2
gast==0.7.0
google-pasta==0.2.0
grpcio==1.80.0
h5py==3.14.0
identify==2.6.15
idna==3.19
importlib_metadata==8.7.1
importlib_resources==6.5.2
joblib==1.5.3
keras==3.10.0
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mdurl==0.1.2
ml_dtypes==0.5.4
mypy_extensions==1.1.0
namex==0.1.0
nodeenv==1.10.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.20.0
packaging==26.3
pandas==2.3.3
pathspec==1.1.1
pillow==11.3.0
platformdirs==4.4.0
pre_commit==4.3.0
protobuf==6.33.6
Pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-discovery==1.6.0
pytokens==0.4.1
pytz==2026.3.post1
PyYAML==6.0.3
requests==2.32.5
rich==15.0.0
scikit-learn==1.6.1
scipy==1.13.1
uvicorn==0.34.0
six==1.17.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl==3.6.0
tomli==2.4.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.6.3
virtualenv==21.7.8
Werkzeug==3.1.8
wrapt==2.4.0
zipp==3.23.1
